parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#method .* on .*Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface.#'
        - '#method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition.#'
        - '#\$object of function get_class expects object, Throwable\|null given.#'
        - '#Cannot call method getBody\(\) on Psr\\Http\\Message\\ResponseInterface\|null.#'
        - '#Cannot call method getAccessToken\(\) on Swagger\\Client\\Model\\AccessToken\|null.#'
